<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CURD clone</title>
</head>

<body>
    <!-- header -->
    <header id="header">
        <nav>
            <div style="border: 1px solid red;">
                <div style="border: 1px solid green;">
                    <a href="/" style="border: 1px solid blue;">User Management System</a>
                </div>
            </div>
        </nav>
    </header>
    <!-- header -->